# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# virtualenv
.venv

# vs code settings
.vscode

# Nose ids
.noseids

# environment variables
.env # This need to be shared using Docker volumes
env

# Hidden files
.*

# Unittests
tests

# other files
*.pdf
Dockerfile
README.md
zappa_settings.json
config_examples
get_access_token.py