# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
.venv

# vs code settings
.vscode

# Nose ids
.noseids

# environment variables
.env

# other files
*.pdf

# zappa config file
zappa_settings.json

# performance analysis files
*.pyprof
